<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vivion.naruto.dao.MemberDao">
    
    <sql id="requestAllFields">
        <![CDATA[
            id,
            nickName,
            fighting,
            isValid
        ]]>
    </sql>
    
    <sql id="whereClause">
        <where>
            <if test="null!=id">AND id = #{id}</if>
            <if test="null!=nickName and ''!=nickName">AND nickName = #{nickName}</if>
            <if test="null!=fighting and ''!=fighting">AND fighting = #{fighting}</if>
            <if test="null!=isValid">AND isValid = #{isValid}</if>
            <include refid="extendedWhereClause" />
        </where>
    </sql>
    
    <insert id="add" useGeneratedKeys="true" parameterType="com.vivion.naruto.bean.Member" keyProperty="id">
        INSERT INTO tb_member
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="null!=nickName and ''!=nickName">,nickName</if>
            <if test="null!=fighting and ''!=fighting">,fighting</if>
            <if test="null!=isValid">,isValid</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="null!=nickName and ''!=nickName">,#{nickName}</if>
            <if test="null!=fighting and ''!=fighting">,#{fighting}</if>
            <if test="null!=isValid">,#{isValid}</if>
        </trim>
    </insert>
    
    <update id="update" parameterType="com.vivion.naruto.bean.Member">
        UPDATE tb_member
        <trim prefix="SET" prefixOverrides=",">
            <if test="null!=nickName and ''!=nickName">,nickName = #{nickName}</if>
            <if test="null!=fighting and ''!=fighting">,fighting = #{fighting}</if>
            <if test="null!=isValid">,isValid = #{isValid}</if>
            <include refid="extendedUpdateSql" />
        </trim>
        WHERE id = #{id}
    </update>
    
    <select id="query" parameterType="com.vivion.naruto.bean.Member" resultType="com.vivion.naruto.bean.Member">
        SELECT <include refid="requestAllFields"/> FROM tb_member
        <include refid="whereClause" />
        <include refid="extendedOrderByClause" />
        <if test="null!=requestOffset">
            LIMIT #{requestOffset}, #{requestCount}
        </if>
    </select>
    
    <select id="get" parameterType="com.vivion.naruto.bean.Member" resultType="com.vivion.naruto.bean.Member">
        SELECT <include refid="requestAllFields"/> FROM tb_member
        <include refid="whereClause" />
        LIMIT 1
    </select>
    
    <select id="getById" parameterType="long" resultType="com.vivion.naruto.bean.Member">
        SELECT <include refid="requestAllFields"/> FROM tb_member WHERE id = #{id}
    </select>
    
    <select id="count" parameterType="com.vivion.naruto.bean.Member" resultType="int">
        SELECT COUNT(1) FROM tb_member <include refid="whereClause" />
    </select>
    
    <!-- 扩展的更新等语句（自定义）-->
    <sql id="extendedUpdateSql">
        <if test="null!=extendedParameter">
            
        </if>
    </sql>
    
    <!-- 扩展的条件过滤语句（自定义）-->
    <sql id="extendedWhereClause">
        <if test="null!=extendedParameter">
            
        </if>
    </sql>
    
    <!-- 扩展的排序等语句（自定义）-->
    <sql id="extendedOrderByClause">
        <if test="null!=extendedParameter">
            
        </if>
    </sql>
    
</mapper>